<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{margin:0; padding:0;}
		#test{ 
			width: 250px; 
			height:100px;
			background:#000; 
			filter:Alpha(opacity=50);
			color: #ff0;
			 
}
	</style>
</head>
<body  style="width: 250px;border: 1px solid #333">
	<div id="test"  >this is an test dialog...</div>
</body>
</html>
<script>
	// console.log('clientWidth = '+window.document.body.clientWidth);
	// console.log('scrollWidth = '+window.document.body.scrollWidth);
	// console.log('offsetWidth = '+window.document.body.offsetWidth);
	// var test1 = document.getElementById("test");
	// function getStyle(ele,str) {
	//    return ele.currentStyle ? ele.currentStyle[str] : window.getComputedStyle(ele,null)[str];
	// }
	
	// alert(getStyle(test1,'borderLeftWidth'));
	// //console.log("window.getComputedStyle : "+window.getComputedStyle(test,null).borderLeftWidth);
</script>