/* grid */
	.myui-grid-wraper{position: relative;border: 1px solid #ccc;}
	.myui-grid{width:100%; font-size:12px; border-collapse:collapse; border-spacing: 0; border:none;}
	.myui-grid tbody tr:first-child td{ border-left:1px solid #CCC; padding:5px 8px; text-align:center; color:#909090; background:#eee;box-shadow: 0 1px 0px #fff inset; border-bottom:1px solid #CCC; border-top: none;}
	.myui-grid tbody tr:first-child td:first-child{ border-left: none;}
	.myui-grid tbody .myui-loading{position: absolute;; top:0; left: 0;}
	.myui-grid tbody .myui-grid tbody tr td{ border-left:1px solid #CCC; padding:5px 8px; text-align:center;}
	.myui-grid tbody tr:nth-child(even){ background:#f2f2f2}
	.myui-grid tbody tr:nth-child(odd){ background:#F7F7F7}
	.myui-grid tbody tr td{border:1px solid #CCC;box-shadow: 0 1px 0px #fff inset; padding:5px 8px;}
	.myui-grid tbody tr td:first-child{ border-left: none;}
	.myui-grid tbody tr td:last-child{ border-right: none;}
	.myui-grid-bottompanel{  padding:5px; font-size:12px; position:relative;  }
	.myui-grid-bottompanel .myui-grid-bottompanel-left{}
	.myui-grid-pagelist{ display:inline-block; *display:inline; *zoom:1;font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; margin-right:10px; vertical-align:middle;}
	.myui-grid-pagelist span{display:inline-block; *display:inline; *zoom:1; padding:2px 5px; border-radius:2px; background:#e1e1e1; margin-right:4px;}
	.myui-grid-pagelist span:hover{background:#CCC; cursor:pointer}
	.myui-grid-pagelist .myui-grid-pagelist-num{}
	.myui-grid-pagelist .myui-grid-pagelist-curr{ background:#e4e4e4; color:#bbb!important; font-weight:bold; cursor:default;} 
	.myui-grid-pagelist .myui-grid-pagelist-disabled{ background:#e4e4e4; color:#aaa; cursor:default;}
	.myui-grid-pagelist .myui-grid-pagelist-space{background:none; }
	.myui-grid-goto{ margin-right:10px;}
	 select{ border-radius: 2px; border-color: #bbb}
	.myui-grid-goto select.goto{ width:auto!important; margin:0; padding:0; height:auto!important; vertical-align:middle;}
	.myui-grid-goto span{ vertical-align:middle}
	.myui-grid-count{ margin-right:10px;}
	.myui-grid-count select.goto{ width:auto!important; margin:0; padding:0; height:auto!important; vertical-align:middle;}
	.myui-grid-count span{vertical-align:middle}
	.myui-grid-bottompanel .myui-grid-bottompanel-right{ position:absolute; top:0; right:0; line-height:30px; padding-right:10px}
	.myui-grid-befroeSucc{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; padding: 30px 0; z-index:100 }
	
	.myui-gird-fixtable { margin: 0px;}
	.myui-gird-fixtable table.fixtable{width:100%; font-size:12px; border-collapse:collapse; border-spacing: 0; border:none;}
	.myui-gird-fixtable table.fixtable tbody tr:first-child td{  padding:5px 8px; text-align:center; color:#909090;  background:#eee!important; box-shadow: 0 1px 0px #fff inset; border-bottom:1px solid #CCC; border-top: none;}
	.myui-gird-fixtable table.fixtable tbody tr:first-child td:first-child{ border-left: none;}
	.myui-gird-fixtable table.fixtable tbody .myui-loading{position: absolute;; top:0; left: 0;}
	.myui-gird-fixtable table.fixtable tbody .myui-gird-fixtable table.fixtable tbody tr td{ border-left:1px solid #CCC; padding:5px 8px; text-align:center;}
	.myui-gird-fixtable table.fixtable tbody tr:nth-child(even) td{ background:#f2f2f2;}
	.myui-gird-fixtable table.fixtable tbody tr:nth-child(odd) td{ background:#F7F7F7;}
	.myui-gird-fixtable table.fixtable tbody tr td{border:1px solid #CCC;box-shadow: 0 1px 0px #fff inset;padding:5px 8px; color: #000; text-align: left;}
	.myui-gird-fixtable table.fixtable tbody tr td:first-child{ border-left: none;}
	.myui-gird-fixtable table.fixtable tbody tr td:last-child{ border-right: none;}
 	