<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../base/style/base.css">
</head>
 
<style type="text/css">
	/*canvas{ -webkit-transform:scale(2,2) }*/
	/*.final{ -webkit-transform:scale(1,1)}*/
</style>
<body>
	<div id="test"></div>
<script src="../../lib/seajs/sea.js" id="seajsnode"></script>
<script type="text/javascript">
	seajs.config({
		base:"../../lib/",
		alias: {
		    'jquery': 'jquery-1.10.1.min.js',
		    'util': 'util.js'
		}
	});
	seajs.use(["./js/chartForPercent","jquery"],function(chartForPercent,$){
		$(function(){
			var test = chartForPercent.chartForPercent(
							{
								elements:"#test",
							 	value:30,
							 	fontsize:"18",
							 	direction:true
							});
			setTimeout(function(){
				test.reset(80);
			},2000)
		})
	});
</script>
</body>
</html>