<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../base/style/base.css">
	<link rel="stylesheet" href="style/css.css">
</head>
<body>
<div id="griddemo"></div>
<table border='1' width="100" cellspacing='0' cellpadding='0'>
	<tbody>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td rowspan='4'>s</td>
	</tr>
	</thead>
	<tr>
		<td>1</td>
		<td>tom</td>
	</tr>	
	<tr>
		<td>1</td>
		<td>tom</td>
	</tr>	
	<tr>
		<td>1</td>
		<td>tom</td>
	</tr>
	</tbody>
</table>
<script src="../../lib/seajs/sea.js" id="seajsnode"></script>
<script type="text/javascript">
	seajs.config({
		base:"../../lib/",
		alias: {
		    'jquery': 'jquery-1.10.1.min.js',
		    'util': 'util.js'
		}
	});
	seajs.use(["./js/grid","jquery"],function(_grid,$){
		$(function(){
			  _grid.grid({element:"griddemo",
							fileds:[
						    	//{label:"#",field:"index"},
								{label:"name",field:"Name"},
								{label:"address",field:"EmailAddress"},
								{label:"password",field:"Password"},
								{label:"gender",field:"Gender"},
								{label:"cityId",field:"CityId"},
								{label:"birthDate",field:"BirthDate"},
								{label:"education",field:"Education"},	
								{label:"about",field:"About"}
							],
							datasource:"tabletestdata.json",
							pagesize:10,
							colFixNum:2
						});
		})
	});
 
</script>
</body>
</html>