<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../base/style/base.css">
	<link rel="stylesheet" href="style/css.css">
	<style>
		input { border: 3px solid rgb(68, 35, 89); opacity: 0.5; box-shadow: 1px 2px 4px #ccc; -webkit-transition: all 0.2s ease-in-out; padding: 5px; margin: 100px  0 0 100px; color: #000; }
		input:hover{ opacity: 0.7}
		input:active{ opacity: 0.8}
	</style>
</head>
<body>
<input type="text" placeholder='startDate' id="MYUI_startDate">
<input type="text" placeholder='endDate' id="MYUI_endDate">

<div class="myui-datepicker-wraper" style="float:right; display: none">
	<div class="myui-datepicker">
			<b class="prev-btn"></b>
			<b class="next-btn"></b>
			<div class="datepicker_list">
				 <div class="list">
				 	<h4>2014年1月</h4>
				 	<table>
				 		<thead>
				 			<tr>
				 				<th>日</th>
				 				<th>一</th>
				 				<th>二</th>
				 				<th>三</th>
				 				<th>四</th>
				 				<th>五</th>
				 				<th>六</th>
				 			</tr>
				 		</thead>
				 		<tbody>
				 			<tr>
				 				<td></td>
				 				<td></td>
				 				<td><a>1</a></td>
				 				<td><a>2</a></td>
				 				<td><a>3</a></td>
				 				<td><a>4</a></td>
				 				<td><a>5</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>6</a></td>
				 				<td><a>7</a></td>
				 				<td><a>8</a></td>
				 				<td><a>9</a></td>
				 				<td><a>10</a></td>
				 				<td><a>11</a></td>
				 				<td><a>12</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>13</a></td>
				 				<td><a>14</a></td>
				 				<td><a>15</a></td>
				 				<td><a>16</a></td>
				 				<td><a>17</a></td>
				 				<td><a>18</a></td>
				 				<td><a>19</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>20</a></td>
				 				<td><a>21</a></td>
				 				<td><a>22</a></td>
				 				<td><a>23</a></td>
				 				<td><a>24</a></td>
				 				<td><a>25</a></td>
				 				<td><a>26</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>27</a></td>
				 				<td><a>28</a></td>
				 				<td><a>29</a></td>
				 				<td><a>30</a></td>
				 				<td><a>31</a></td>
				 				<td></td>
				 				<td></td>
				 			</tr>
				 		</tbody>
				 	</table>
				 </div>
				 <div class="list">
				 	<h4>2014年2月</h4>
				 	<table>
				 		<thead>
				 			<tr>
				 				<th>日</th>
				 				<th>一</th>
				 				<th>二</th>
				 				<th>三</th>
				 				<th>四</th>
				 				<th>五</th>
				 				<th>六</th>
				 			</tr>
				 		</thead>
				 		<tbody>
				 			<tr>
				 				<td></td>
				 				<td></td>
				 				<td class="disable"><a>1</a></td>
				 				<td><a>2</a></td>
				 				<td><a>3</a></td>
				 				<td><a>4</a></td>
				 				<td><a>5</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>6</a></td>
				 				<td><a>7</a></td>
				 				<td><a>8</a></td>
				 				<td><a>9</a></td>
				 				<td><a>10</a></td>
				 				<td><a>11</a></td>
				 				<td><a>12</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>13</a></td>
				 				<td><a>14</a></td>
				 				<td><a>15</a></td>
				 				<td><a>16</a></td>
				 				<td><a>17</a></td>
				 				<td><a>18</a></td>
				 				<td><a>19</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>20</a></td>
				 				<td><a>21</a></td>
				 				<td><a>22</a></td>
				 				<td><a>23</a></td>
				 				<td><a>24</a></td>
				 				<td><a>25</a></td>
				 				<td><a>26</a></td>
				 			</tr>
				 			<tr>
				 				<td><a>27</a></td>
				 				<td><a>28</a></td>
				 				<td><a>29</a></td>
				 				<td><a>30</a></td>
				 				<td><a>31</a></td>
				 				<td></td>
				 				<td></td>
				 			</tr>
				 		</tbody>
				 	</table>
				 </div>
			</div>
	</div>
</div>

<script src="../../lib/seajs/sea.js" id="seajsnode"></script>
<script type="text/javascript">
	seajs.config({
		base:"../../lib/",
		alias: {
		    'jquery': 'jquery-1.10.1.min.js',
		    'util': 'util.js'
		}
	});
	seajs.use(["./js/rangeDatePicker","jquery"],function(datepicker,$){
		$(function(){
			 datepicker({
			 	startDateElement:"MYUI_startDate",
			 	endDateElement:"MYUI_endDate"
			 })
		})
	});
</script>
</body>
</html>